/*FAMILY*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
/*FAMILY*/

/*CONFIGS*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
}

a {
  display: block;
  text-decoration: none;
}

i {
    font-size: 2.4rem;
}

/*CONFIGS*/

/*HEADER*/

.header {
    width: 100%;
    height: 60px;
  
    position: fixed;
    top: 0;
    z-index: 999;
  
    background-color: #1F4E3D;
    backdrop-filter: blur(20px);
  
}
  
.header-container {
    max-width: 820px;
    margin: 0 auto;
    padding: 5px 0;
  
}
  
.nav-list-desktop {
    list-style: none;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.nav-link {
    color: #fff;
    display: block;
    padding: 5px 10px;
  
    font-family:  sans-serif;
    font-size: 15px;
    opacity: 1;
    transition: .5s ease;
}
  
.nav-link:hover {
    opacity: .7;
}
  
.nav-mobile {
    opacity: 1;
    display: none;
}
  
.nav-list-mobile {
    display: none;
}
  
.logo {
    margin: auto;
}

/*HEADER*/


/*BANNER*/
#menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40vh;
  
    margin-top: 6rem;
  
    background-image: url('../img/page-header-bg-1-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
  
}
  
.principal {
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.conteudos h2 {
  
    font-family: 'Handlee', cursive;
    font-size: 7rem;
    color: #fff;
}
  
.conteudos p {
    display: flex;
    justify-content: center;
  
    color: #fff;
    font-size: 15px;
  
}
  
.conteudos a {
    color: #A9A9A9;
}
/*BANNER*/



/*TITLE*/
.title {
    position: relative;
    text-align: center;
    margin: 12rem 0 2rem 0;
}
  
.title img {
    width: 3%;
}
  
.title p {
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2rem;
    line-height: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(158, 165, 162);
}
  
.title h3 {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #255946;
}
/*TITLE*/


/*PARÁGRAFOS E CONTEÚDOS*/
.box {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
  
}

.info {
    color: #808080;
    display: block;
    line-height: 2.5rem;
    word-break: break-all;
}
  
.info p {
    display: flex;
    justify-content: center;
}
  
.btn {
    margin-top: 3rem;
}
  
.banner-btn a {
    text-decoration: none;
    background-color: #82AC3B;
    color: #fff;
    padding: 15px 25px;
    display: inline-block;
    border: 2px solid #82AC3B;
    border-radius: 5px;
    font-weight: bolder;
  
    text-transform: uppercase;
    font-family: 'Baloo Da 2', cursive;;
}
/*PARÁGRAFOS E CONTEÚDOS*/


/*FOOTER*/
.contayner{
	max-width: 1170px;
	margin:auto;
}

.rows{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
    margin-top: 10rem;
	background-color: #144875;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #49A760;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #83ac3c;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #83ac3c;
	background-color: #ffffff;
}
/*FOOTER*/

/*BOTÃO WHATSAPP*/
.wpp-link {
    background: #83ac3c;
    position: fixed;
    bottom: 10rem;
    right:33px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    text-decoration: none;
    transition: all .4s;
}

.fa-whatsapp {
    color: #ffffff;
}
/*BOTÃO WHATSAPP*/  

/*TO-TOP*/
.to-top {
    background: #83ac3c;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
    color: #fff;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
}
  
.to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
}
/*TO-TOP*/